*
{
    margin: 0;
    padding: 0;
}

* > #footer, * > form, * > #notes, * > .output
{
    position: relative;
    z-index: 1000;
}

* html #header-nav-bottom a
{
    width: 1%;
}

* html #header-nav-bottom a
{
    width: 1%;
}

body
{
    font-size: 62.5%;
    margin: 0em auto;
    padding: 0em;
    background: url("../img/img_background.gif") top center repeat-y;
    font-family: Arial, Helvetica, sans-serif;
}

a
{
    background-color: inherit;
    color: rgb(100,100,100);
    text-decoration: underline;
}

a:hover
{
    text-decoration: none;
}

form
{
    font: 100% Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    min-width: 500px;
    max-width: 600px;
    width: 560px;
}

form fieldset
{
    border-color: #000;
    border-width: 1px;
    border-style: solid;
    padding: 10px;
    margin: 0px;
}

form fieldset legend
{
    font-size: 1.1em;
}

form fieldset label:first-letter
{
    text-decoration: underline;
}

form br
{
    clear: left;
}

form small
{
    display: block;
    margin: 0 0 5px 160px;
    padding: 1px 3px;
    font-size: 88%;
}

form input, form textarea
{
    display: inline;
    width: auto;
    margin: 5px 0 0 10px;
    border-width: 1pt;
    border: 1px solid #00F;
}

form input#submit, form input#reset
{
    float: none;
    display: inline;
    margin: 0px;
    padding: 0px;
    text-align: center;
}

form label
{
    display: block;
    float: left;
    width: 150px;
    padding: 0px;
    margin: 5px 0 0;
    text-align: right;
}

p#validationError
{
    color: #FF0000;
    font-size: 15px;
}

#alert
{
    color: #FF0000;
}

/* i dont know if we need this or not */
#buffer
{
    clear: both;
    float: left;
    width: 78.0em;
    height: 2.0em;
    margin: 0em;
    padding: 0em;
    background-color: inherit;
}

#wrap
{
    width: 78.0em;
    margin: 0em auto;
    padding: 0em;
    background-color: rgb(255,255,255);
    border-left: solid 1px rgb(150,150,150);
    border-right: solid 1px rgb(150,150,150);
    overflow: hidden;
    float: none;
}

#footer
{
    clear: both;
    width: 78.0em;
    height: 2.5em;
    margin: 1.0em 0em 0em 0.0em;
    padding: 0.5em 0em 0.5em 0em;
    border-top: solid 0.1em rgb(200,200,200);
    border-bottom: solid 0.1em rgb(200,200,200);
    background-color: rgb(255,255,255);
    text-align: center;
    color: rgb(100,100,100);
    font-size: 1.0em;
}

#middle-column
{
    float: left;
    width: 43.0em;
    margin: 0em;
    padding: 0em 2.0em 0em 2.0em;
    background-color: inherit;
    color: rgb(100,100,100);
    padding-bottom: 30000px;
    margin-bottom: -30000px;
}

#middle-column-pages
{
    float: left;
    width: 58.0em;
    margin: 0em;
    padding: 0em 0em 0em 2.0em;
    background-color: inherit;
    color: rgb(100,100,100);
}

#right-column
{
    float: right;
    width: 15.0em;
    margin: 0em 0em 0em 0em;
    padding: 0em;
    padding-bottom: 30000px;
    margin-bottom: -30000px;
}

#left-column-first
{
    clear:both;
    float: left;
    width: 15.9em;
    margin: 0em;
    padding: 0em;
    background-color: rgb(255,255,255);
    color: rgb(100,100,100);
    padding-bottom: 30000px;
    margin-bottom: -30000px;
}

#left-column
{
    clear:both;
    float: left;
    width: 15.9em;
    padding: 0em;
    border-right: solid 0.1em rgb(200,200,200);
    background-color: rgb(242,242,242);
    background-color: rgb(255,255,255);
    color: rgb(100,100,100);
    padding-bottom: 30000px;
    margin-bottom: -30000px;
}

#left-column ul
{
    width: 15.8em;
    float: left;
    list-style: none;
    margin: 0em;
    padding: 0em;
    border-bottom: solid 0.1em rgb(200,200,200);
}

#left-column li
{
    margin: 0em;
    padding: 0em;
}

#left-column li.left-nav-title
{
    display: block;
    text-align: right;
    margin: 0em;
    padding: 0.3em 0.7em 0.9em 0.6em;
    background-color: inherit;
    color: rgb(50,50,50);
    text-transform: uppercase;
    font-weight: bold;
    height: 1.3em;
    font-size: 1.1em;
}

#left-column li a
{
    display: block;
    text-align: right;
    padding: 0.3em 0.7em 0.2em 0.6em;
    border-top: solid 0em rgb(215,215,215);
    border-left: solid 0.5em rgb(255,255,255);
    background-color: inherit;
    color: rgb(125,125,125);
    text-decoration: none;
    height: 1.3em;
    font-size: 1.1em;
}

#left-column li.left-nav-group a
{
    display: block;
    text-align: right;
    padding: 0.3em 0.7em 0.2em 0.6em;
    border-top: solid 0.1em rgb(215,215,215);
    border-left: solid 0.5em rgb(255,255,255);
    background-color: inherit;
    color: rgb(125,125,125);
    text-decoration: none;
    font-weight: bold;
    height: 1.3em;
    font-size: 1.1em;
}

#left-column a:hover, #left-column .selected
{
    text-align: right;
    border-left: solid 0.5em rgb(137,199,44);
    background-color: inherit;
    background-color: rgb(224,244,181);
    color: rgb(0,0,0);
    text-decoration: none;
}

#left-column li.left-nav-group a:hover, #left-column li.left-nav-group .selected
{
    text-align: right;
    border-left: solid 0.5em rgb(137,199,44);
    background-color: rgb(224,244,181);
    color: rgb(0,0,0);
    text-decoration: none;
}

#left-column-first .img-left-nav
{
    height: 50.0em;
    width: 15.9em;
    margin: 0em;
    padding: 0em;
    border: none;
}

#header-banner
{
    width: 78.0em;
    height: 11.4em;
    float: left;
    margin: 0em 0em 0em 0em;
    padding: 0em 0em 0em 0em;
    background: url("../img/img_header.jpg") no-repeat;
}

#header-nav-top
{
    float: right;
    margin: 0.7em 0.2em 0em 0em;
    padding: 0em;
}

#header-nav-top ul
{
    margin: 0em;
    padding: 0em;
    list-style: none;
}

#header-nav-top li
{
    float: left;
    white-space: nowrap;
    border-left: solid 0.1em rgb(150,150,150);
}

#header-nav-top li a
{
    display: block;
    margin: 0em;
    padding: 0em 0.5em 0em 0.5em;
    background-color: rgb(255,255,255);
    color: rgb(150,150,150);
    text-decoration: none;
}

#header-nav-top a:hover, #header-nav-top .selected
{
    background-color: inherit;
    color: rgb(0,0,0);
    text-decoration: underline;
}

#header-nav-top .img-flag
{
    height: 1.2em;
    display: inline;
    margin: 0em;
    padding: 0em;
    border: none;
}

#header-nav-bottom
{
    float: left;
    width: 78.0em;
    height: 2.0em;
    margin: 0em;
    padding: 0em;
    border-top: solid 0px rgb(69,136,176);
    border-bottom: solid 0px rgb(69,136,176);
    line-height: 2.0em;
    background: url("../img/img_header_nav_bottom.jpg");
}

#header-nav-bottom ul
{
    margin: 0em;
    padding: 0em;
    list-style: none;
    font-weight: bold;
    font-size: 1.1em;
}

#header-nav-bottom li
{
    float: left;
    white-space: nowrap;
}

#header-nav-bottom li a
{
    display: block;
    margin: 0em;
    padding: 0em 1.0em 0em 1.0em;
    border-right: solid 1px rgb(255,255,255);
    background-color: inherit;
    color: rgb(255,255,255);
    text-decoration: none;
}

#header-nav-bottom a:hover, #header-nav-bottom a.selected
{
    margin: 0em;
    padding: 0em 1.0em 0em 1.0em;
    border-right: solid 1px rgb(255,255,255);
    background-color: inherit;
    color: rgb(100,100,100);
    text-decoration: none;
}

.middle-column-title-standard-error
{
    display: block;
    margin: 0em 0em 0.5em 0em;
    padding: 0.2em 0em 0.2em 0em;
    border-bottom: solid 0.167em #CCCCCC;
    background-color: rgb(255,255,255);
    color: #FF0000;
    font-weight: bold;
    font-size: 1.2em;
}

.middle-column-box-full-standard-error
{
    float: left;
    width: 43.0em;
    margin: 0em 0em 2.0em 0em;
    padding: 0em;
    background-color: rgb(255,255,255);
    color: #FF0000;
}

.middle-column-title-standard
{
    display: block;
    margin: 0em 0em 0.5em 0em;
    padding: 0.2em 0em 0.2em 0em;
    border-bottom: solid 0.167em rgb(120,176,39);
    background-color: rgb(255,255,255);
    color: rgb(112,162,36);
    font-weight: bold;
    font-size: 1.2em;
}

.middle-column-box-full-standard
{
    float: left;
    width: 43.0em;
    margin: 0em 0em 2.0em 0em;
    padding: 0em;
    background-color: rgb(255,255,255);
    color: rgb(100,100,100);
}

.right-column-box-standard
{
/*    float: right; */
    width: 13.0em;
    margin: 0em 1.0em 0.8em 0em;
    padding: 0.4em 0.4em 0.4em 0.4em;
    border: solid 0.1em rgb(200,200,200);
    background-color: rgb(255,255,255);
    color: rgb(100,100,100);
}

.right-column-title-blue
{
    display: block;
    margin: 0em 0em 0.5em 0em;
    padding: 0.2em 0em 0.2em 0.2em;
    background-color: rgb(187,211,247);
    color: rgb(100,100,100);
    font-weight: bold;
    font-size: 1.1em;
}

.submit
{
    background-image: url("../img/ButtonBackground.gif");
    background-attachment: fixed;
    background-repeat: repeat;
}

.validationError
{
    color: #FF0000;
    font-size: 15px;
}
