<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    id="cws" version="2.4"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <display-name>cws</display-name>
    <description>cws</description>

    <distributable />

    <context-param>
        <param-name>webmaster</param-name>
        <param-value>admins@caspersbox.com</param-value>
    </context-param>
    <context-param>
        <param-name>applicationName</param-name>
        <param-value>cws</param-value>
    </context-param>
    <context-param>
        <param-name>eSolutionsCoreConfig</param-name>
        <param-value>eSolutionsCore/config/ServiceConfig.xml</param-value>
    </context-param>
    <context-param>
        <param-name>eSolutionsCoreLogger</param-name>
        <param-value>eSolutionsCore/config/logging.xml</param-value>
    </context-param>
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath:/cws/cws-app.xml</param-value>
    </context-param>
    <context-param>
        <param-name>defaultHtmlEscape</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
        <param-name>javax.servlet.jsp.jstl.fmt.locale</param-name>
        <param-value>en</param-value>
    </context-param>
    <context-param>
        <param-name>javax.servlet.jsp.jstl.fmt.fallbackLocale</param-name>
        <param-value>en</param-value>
    </context-param>

    <listener>
        <listener-class>com.cws.esolutions.core.listeners.CoreServiceListener</listener-class>
    </listener>
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <listener>
        <listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
    </listener>

    <filter id="SpringEncodingFilter">
        <description>Spring Encoding Filter</description>
        <display-name>SpringEncodingFilter</display-name>
        <filter-name>encoding-filter</filter-name>
        <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>

    <filter-mapping id="SpringEncodingFilter_mapping">
        <filter-name>encoding-filter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <servlet>
        <display-name>cws</display-name>
        <servlet-name>cws</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>classpath:/cws/controller_config.xml</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
    	<servlet-name>cws</servlet-name>
    	<url-pattern>/ui/*</url-pattern>
    </servlet-mapping>

    <resource-ref>
        <description>Application Datasource</description>
        <res-ref-name>jdbc/cws</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Unshareable</res-sharing-scope>
    </resource-ref>
    <resource-ref>
        <description>Mail Service</description>
        <res-ref-name>mail/MailSession</res-ref-name>
        <res-type>javax.mail.Session</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Unshareable</res-sharing-scope>
    </resource-ref>

    <error-page>
        <error-code>400</error-code>
        <location>/theme/cws/html/en/jsp/errHandler.jsp</location>
    </error-page>
    <error-page>
        <error-code>401</error-code>
        <location>/theme/cws/html/en/jsp/errHandler.jsp</location>
    </error-page>
    <error-page>
        <error-code>403</error-code>
        <location>/theme/cws/html/en/jsp/errHandler.jsp</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/theme/cws/html/en/jsp/errHandler.jsp</location>
    </error-page>
    <error-page>
        <error-code>405</error-code>
        <location>/theme/cws/html/en/jsp/errHandler.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/theme/cws/html/en/jsp/errHandler.jsp</location>
    </error-page>
    <error-page>
        <exception-type>java.lang.Throwable</exception-type>
        <location>/theme/cws/html/en/jsp/errHandler.jsp</location>
    </error-page>
    <error-page>
        <exception-type>java.lang.Exception</exception-type>
        <location>/theme/cws/html/en/jsp/errHandler.jsp</location>
    </error-page>

    <welcome-file-list>
        <welcome-file>default.htm</welcome-file>
    </welcome-file-list>

    <jsp-config>
        <jsp-property-group>
            <description>Property Group</description>
            <display-name>Property Group</display-name>
            <url-pattern>/*</url-pattern>
            <page-encoding>UTF-8</page-encoding>
            <include-prelude>/theme/cws/html/en/jsp/includes.jsp</include-prelude>
        </jsp-property-group>
    </jsp-config>
</web-app>

